{% extends 'base.html.twig' %}


{% block body %}
<div class="container my-5">
    <h1>Espace memebre privé</h1>
    

   
    {# Pour modifier le mot de passe:
    1. formulaire
        1.a. le mot de passe actuel -> compare avec le mot de passe de la BDD
        1.b. si le mot de passe actuel est correct -> nouveau mot de passe
        1.c. confirmation de son nouveau mot de passe
        1.d. si le mot de passe est identique -> on modifie le mot de passe
    2. Mise à jour de la BDD
        2.a. Lui envoyer une petite notification pour lui confirmer que son mot de passe a bien été modifié
    #}
 
        <div class="row">
        <div class="col-md-3">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div class="col-md-9">
           <h5>Modification de mon mot de passe</h5>
            {{ form(modifyPwd)}}  
        </div>
    </div>
    
</div>


{% endblock %}