{% extends 'base.html.twig' %}


{% block body %}


    <div class="commande-container my-5 small-container">
         <h2>Ma commande</h2>
         </br>
         {{ form(deliveryForm) }}
        

 </div>


{% endblock %}
